<div class="container">  
  <h1>Some introduction</h1>
  <p>This is the home page of our app.</p>
  <p>Here is the introduction.</p>
  <p>Here are the instructions.</p>
  <p>Accounts are tracked so refrain from sharing with other people.</p>
  <p>Add some more description on what this application does.</p>
</div>
  
