
<div class="container">  
  <h1>Some introduction</h1>
  <p>This is the home page of our app. I think we need to put here some introduction and instructions also state to them that we are tracking every account, so make sure they don't share their account.</p>
</div>
  
