<div class="vitals-container show" style="margin-top:1rem;">
  <div class="container">
    <%= form_for(:patient_record, url: patient_update_record_path, type: "vitals", :validate => true, :class => 'form-horizontal') do |f| %>
      <div class="form-group row form-inline">
        <div class="col-md-3">
          <%= f.label :height %>
        </div>
        <div class="input-group col-md-3">
          <%= f.text_field :in_feet, :class => "form-control", 
            :value => @patient.vital.height_in_feet, :placeholder => "In feet" %>  
          <span class="input-group-addon">feet</span>
          <%= f.text_field :in_inches, :class => "form-control", 
          :value => @patient.vital.height_in_inches, :placeholder => "In inches" %>
          <span class="input-group-addon">inches</span>
        </div>  
      </div>  

      <div class="form-group row col-md-12">
        <div class="col-md-12"> 
          <button type="submit" class="btn btn-success">Save &amp; Next</button>
          <button type="button" class="btn btn-danger pull-right exit">Exit</button>
        </div>
      </div>

    <% end %>
  </div>
</div>

<script>
  $(".vitals").addClass("active");
</script>