<div class="container">
  <h1>Demographics</h1> 
  <div class="panel panel-default">
    <div class="panel-heading">Patient</div>
    <div class="panel-body">
      <h2><%= "#{@patient.first_name} #{@patient.last_name}" %></h2>
    </div>
    <div class="container">
    Later
    </div>
  </div>
</div>