<div class="container">
  <h1><%= "#{@patient.first_name} #{@patient.last_name}" %></h1>
  <div class="panel panel-info">
    <div class="panel-heading">Patient Information</div>
    <div class="panel-body">      
      <div class="btn-group">
        <button type="button" class="btn btn-default demographics">Demographics</button>
        <button type="button" class="btn btn-default vitals">Vitals</button>
        <button type="button" class="btn btn-default physical">Physical</button>
        <button type="button" class="btn btn-default hearing">Hearing</button>
        <button type="button" class="btn btn-default vision">Vision</button>
        <button type="button" class="btn btn-default assessment">Assessment</button>
      </div>
      <% if @type == "demographics" %>
        <%= render :partial => 'patient/demographics' %>
      <% elsif @type == "vitals" %>
        <%= render :partial => 'patient/vitals' %>
      <% end %>

    </div>
  </div>
</div>

<script>
  $(".vitals").click(function() {
    window.document.location = 'vitals'
  });
  $(".demographics").click(function() {
    window.document.location = 'demographics'
  });
  $(".physical").click(function() {
    window.document.location = 'physical'
  });
  $(".hearing").click(function() {
    window.document.location = 'hearing'
  });
  $(".vision").click(function() {
    window.document.location = 'vision'
  });
  $(".assessment").click(function() {
    window.document.location = 'assessment'
  });

</script>

