<div class="container">
  <h1><%= "#{@patient.first_name} #{@patient.last_name}" %></h1>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Demographics</button>
    <button type="button" class="btn btn-default">Vitals</button>
    <button type="button" class="btn btn-default">Physical</button>
    <button type="button" class="btn btn-default">Hearing</button>
    <button type="button" class="btn btn-default">Vision</button>
    <button type="button" class="btn btn-default">Assessment</button>
</div>
</div>